:root { 
--pink_50:#ffdcf7; 
--gray_900:#252525; 
--gray_900_01:#242424; 
--light_green_100:#d7f6cb; 
--indigo_A200:#5f70f5; 
--amber_300:#f8d467; 
--light_green_400:#9dc05a; 
--gray_300:#e0ddec; 
--orange_300:#f8be67; 
--gray_300_01:#dedede; 
--gray_100:#f6f6f6; 
--lime_100:#f2f6cb; 
--black_900:#000000; 
--light_blue_A700:#0093ff; 
--cyan_50:#caf2ff; 
--blue_100:#ccd2ff; 
--white_A700:#ffffff; 
--yellow_100:#fffad0; 
}