
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/RubikRegular.ttf"); font-family : "Rubik"; font-weight : 400;  }
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/RubikRomanRegular.ttf"); font-family : "Rubik"; font-weight : 400;  }
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/BebasNeueRegular.ttf"); font-family : "Bebas Neue"; font-weight : 400;  }